.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 400px;
  background-color: rgb(6 26 73);
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.block {
  box-sizing: border-box;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #00bbda;
  background-image:
    linear-gradient(
      150deg,
      rgb(255 255 255 / 90%) 20%,
      rgb(255 255 255 / 10%) 70%,
      transparent 100%
    ),
    radial-gradient(circle at 100% 100%, #00cbee 72%, transparent 90%);
  border-top: 3px solid #63e3f1;
  border-right: 3px solid #0595a0;
  border-bottom: 3px solid #028b97;
  border-left: 3px solid #5acad9;
  background-blend-mode: normal;

  .gameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
